<div class="border-b border-gray-500 py-2 bg-black">
  <p class="text-center text-white italic text-sm"><span class="underline cursor-pointer">Subscribe</span> to our newsletter to save 10% on your order!</p>
</div>
