{% assign products = section.settings.product %}

<div class="flex justify-center">
  {% for product in products %}
    <div class="px-12 pt-16 flex flex-col items-center w-1/4 ">
      <div class="w-52 h-[277px]">
        <img
          src="{{ product.featured_image |  image_url: width: "200px" }}"
          class="w-full h-auto objec-cover"
          height="100%"
          width=" 100%">
      </div>
      <p class="py-4">{{ product.title }}</p>
      <button
        class="bg-black text-white"
        type="submit"
        name="add"
        data-product-id="{{ product.variants.first.id }}"
        {% unless product.available %}
          disabled
        {% endunless %}>
        Add to Cart
      </button>
    </div>
    <div class="hidden w-0 "></div>
    <div class="hidden w-[480px]"></div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Product Card",
  "settings": [
    {
      "type": "product_list",
      "id": "product",
      "label": "Product"
    }
  ],
  "presets": [{ "name": "Product Card" }]
}
{% endschema %}
